body {
	background: #F7F8FA;
}

.sketch-options {
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	background: #F9F7F8;
}

.sketch-options .panel {
	padding: 10px;
	position: relative;
}

.background-disable {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	opacity: 0.5;
	cursor: no-drop;
}

.sketch-save {
	float: right;
}

#sketch-save {
	margin-top: 5px;
}

#viewer-sketchpad {
	cursor: crosshair;
	position: absolute;
	z-index: 99;
}

.viewer {
	height: 600px;
	position: relative;
}

.sketch-options .fa {
	cursor: pointer;
}

.signature {
	font-size: 12px;
	line-height: 19px;
	color: #B5B5B5;
	margin-top: 10px;
}

.options-func-item {
	margin-top: 15px;
}

.sketch-head {
	overflow: hidden;
}

.sketch-draw {
	/*float: left;*/
	background: #E1EEFF;
	padding: 10px;
	border-radius: 6px;
	width: 293px;
	overflow: hidden;
}

.sketch-draw label {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	margin-top: 24px;
}

.sd-label:nth-child(1) {
	margin-top: 0px !important;
}

#select-svs {
	width: 196px;
}

/*.lower-canvas {*/
/*opacity: 0.5;*/
/*}*/

#viewer-container .row {
	margin: 0px !important;
}

#viewer-container {
	position: relative;
}

.sketch-right-options {
	background: white;
	padding: 15px;
	position: absolute;
	top: 0px;
	right: 10px;
	z-index: 99;
	font-weight: bold;
}

.sketch-right-options h4 {
	font-weight: bold;
}

.fa-eraser {
	color: #9FC1FF;
}

.fa-square {
	color: #9FC1FF;
}

.slider-wrapper {
	display: inline-block;
	height: 85px;
	padding: 0;
	margin-left: 10px;
	width: 92%;
}
/*.slider-wrapper input {*/
/*width: 150px;*/
/*height: 20px;*/
/*margin: 0;*/
/*transform-origin: 75px 75px;*/
/*transform: rotate(-90deg);*/
/*}*/

.slider-wrapper input {
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top: 10px;
}

.slider-wrapper input:hover {
	opacity: 1;
}

.slider-wrapper input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #9FC1FF;
	cursor: pointer;
}

.slider-wrapper input::-webkit-slider-thumb:after, .slider-wrapper input::-moz-range-thumb:after {
	content: "test";
}

.slider-wrapper input::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #9FC1FF;
	cursor: pointer;
}

#size-picker {
	width: 40px;
}

.size-div {
	float: left;
	padding-top: 50px;
}

#scroll-picker {
	width: 40px;
}

.scroll-div {
	float: left;
	padding-top: 50px;
}

#save-fabric-select {
	background-color: #386DD1;
	color: #FFFFFF;
	width: 121px;
	height: 32px;
	float: right;
	margin-top: 30px;
}

.viewer_name {
	color: white;
	position: absolute;
	font-size: 20px;
	left: 20px;
	top: 20px;
	padding: 10px;
	background: #565656;
	border-radius: 8px;
}

.viewer-container {
	position: absolute;
	top: 0px;
	right: 0px;
}

.veiwer_checkboxes td {
	padding: 5px;
}

.layer-list {
	list-style: none;
	padding-left: 0px;
}

.layer-list li {
	padding: 10px;
	background: #d2d2d2;
	margin-top: 5px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #7d7979;
}

.layer-list li i {
	color: #888888;
	cursor: pointer;
}

.info-panel {
	font-weight: bold;
	border-radius: 0px;
	padding: 0px 15px;
	width: 280px;
	border-bottom: 1px solid #e7edf5;
}

.angle-info-panel {
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 30px !important;
	cursor: pointer;
}

.info-panel-body {
	display: none;
}

.btn-ur {
	background: #E7EDF5;
	border-radius: 3px;
	font-weight: bold;
	font-size: 13px;
	line-height: 19px;
	color: #97B6E2;
	margin-left: 12px;
	margin-top: 12px;
	padding: 6px 20px;
}

#select-svs {
	margin-top: 12px;
	font-weight: bold;
}

.gold-btn {
	background: #CBB873;
	border: 0px;
	border-radius: 0px;
	color: #000000;
	font-weight: bold;
}

.so-new-view {
	width: 200px;
	margin-top: 10px;
}

.so-options {
	padding-bottom: 20px;
	padding-top: 10px;
}

.so-start-new-bt {
	float: right;
	margin-right: 6px;
}

.warning_div {
	max-width: 900px;
	margin: 0 auto;
}

.warning_div h3 {
	color: #ffc023;
}

.viewerP {
	position: absolute;
	z-index: 99;
}

#emptyV {
	z-index: 1001;
}

.sketch-right-options .options-func-item input[type=checkbox] {
	cursor: pointer;
	margin-left: 10px;
}

.sketch-right-options .options-func-item input[type=checkbox]:after {
	content: " ";
	background-color: #E7EDF5;
	border-radius: 3px;
	width: 16px;
	height: 16px;
	display: inline-block;
	visibility: visible;
}

.sketch-right-options .options-func-item input[type=checkbox]:checked:after {
	content: "\25A0";
	text-align: center;
	color: #386dd1;
	font-size: 20px;
	line-height: 12px;
}

.label-text {
	margin-left: 10px;
}

.simplecolorpicker .color {
	width: 30px;
	height: 26px;
	border-radius: 3px;
}

.simplecolorpicker .color:not(:first-child) {
	margin-left: 10px;
}

.slider-wrapper output {
	font-size: 10px;
	line-height: 14px;
	color: #B5B5B5;
	margin-top: 5px;
}

.viewer_container {
	position: relative;
}

.ur-block {
	position: relative;
}

.info-panel h3 {
	font-size: 16px;
	line-height: 19px;
	color: #6B6B6B;
	font-weight: bold;
	margin-top: 10px;
}

.angle-info-panel {
	margin-top: 0px;
	line-height: 19px !important;
	color: #e7edf5;
}

#fabric_name {
	background: #FFFFFF;
	border: 1px solid #E7EDF5;
	box-sizing: border-box;
	border-radius: 3px;
	width: 342px;
}

#sketch-save, .so-start-new-bt {
	width: 150px;
	height: 38px;
	background: #386DD1;
	border-radius: 3px;
	color: #FFFFFF;
}

.lo_pb {
	order: 1;
	box-sizing: border-box;
	overflow: visible;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	font-weight: bold;
	font-size: 18px;
	width: 120px;
	height: 120px;">
}

.lo_text_pb {
	order: 1;
	box-sizing: border-box;
	overflow: visible;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	font-weight: bold;
	font-size: 18px;
	margin-top: 87px;
}

.download-xml-file-div {
	float: left;
	width: 100%;
	border-top: 1px solid #decfcf;
	padding-bottom: 10px;
	margin-bottom: 7px;
	border-bottom: 1px solid #decfcf;
	margin-top: 10px;
}

.export-xml-div {
	margin-top: 10px;
	overflow: hidden;
	float: left;
	width: 100%;
	border-top: 1px solid #decfcf;
	padding-top: 10px;
}